@keyframes fade-up {
    from {
        /* background-color: aqua; */
        /* margin-bottom: 20px; */
        transform: translateY(3em);
        opacity: 0%;
    }

    to {
        /* background-color: red; */
        /* margin-bottom: 0px; */
        transform: translateY(0em);
        opacity: 100%;
    }
}

@keyframes close-fade-down {
    0% {
        transform: translateY(0em);
        opacity: 100%;
        display: block;
    }

    99% {
        transform: translateY(3em);
        opacity: 0%;
        display: block;
    }

    100% {
        display: none;
    }
}

.dropdown-button {
    border: 0px;
    box-shadow: none;
    background: none;
    border-radius: 0px;
}

.dropdown-button:hover {
    color: rgb(33, 83, 182) !important;
}

.menu {
    position: absolute;
    list-style-type: none;

    margin: 25px 0px;
    padding: 0;
  
    border: 3px;
    width: 300px;
    /* height: 150px; */
    /* background-color: white; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-style: solid;
    /* border-top: red; */
    border-bottom: red;
    border-left: red;
    border-right: red;
    color: rgb(33, 83, 182);

    animation-name: fade-up;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    /* animation-fill-mode: forwards; */
}

.menu-closed {
    position: absolute;
    list-style-type: none;

    margin: 25px 0px;
    padding: 0;
  
    border: 3px;
    width: 300px;
    /* height: 150px; */
    /* background-color: white; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-style: solid;
    /* border-top: red; */
    border-bottom: red;
    border-left: red;
    border-right: red;
    color: rgb(33, 83, 182);

    /* animation: close-fade-down 600ms; */
    animation-name: close-fade-down;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    /* animation-direction: reverse; */

    opacity: 0%;
    /* display: none; */
    display: block;
    animation-fill-mode: forwards;
}

.menu-hidden {
    display: none;
}

.menu-item {
    margin: 15px 20px;
}

.dark-button {
    color: white !important;
}

.light-button {
    color: rgb(0, 0, 60) !important;
}

.dark-menu {
    background-color: rgb(49, 15, 77);
}

.light-menu {
    background-color: white;
}

.dark-menu-item {
    color: white;
}

.light-menu-item {
    color: black;
}