@import "Animations.css";

.static {
    border-radius: 8px;
    width: 100px;
    height: 100px;
    background-color:aqua;
    /* position: absolute; */
}

.dynamic {
    border-radius: 8px;
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: fade-up;
    animation-duration: 1.2s;
    animation-timing-function: ease;
}