.Page {
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--0laGqSNU--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://thepracticaldev.s3.amazonaws.com/i/zd21ck5lfjfo09umz060.png");
    height: 100%;
    display: flex;
    flex-flow: column;
}